<div class="header">


	<div class="row col-sm-12 align-items-center justify-content-between">

		<div class="logo_entete col-sm-2">

			<%=link_to image_tag("codex_noir.png", size: "125", class:"logo_lien"),root_path%>
			
		</div>
		<div class="col-sm-5 col-lg-3 col-xl-2">
			<ul class="row col-sm-12 justify-content-around">


				<%if user_signed_in?%>
				<li class="menu col-sm-8"><%=link_to 'Déconnexion', destroy_user_session_path, method: :delete, class:'connexion_lien' %></li>
				<%else%>
				<li class="menu col-sm-8"><%= link_to 'Se connecter', new_user_session_path, class:'connexion_lien' %></li>
				<%end%>

				<ul class="menu dropdown col-sm-2">
					<a href="#" class="dropdown" data-toggle="dropdown">
						<i class="fa fa-bars big"></i>
					</a>
					<ul class="dropdown-menu dropdown-menu-right">
						<li><%= link_to 'Contact', contact_path, class: 'dropdown-item' %></li>
						<li><%= link_to 'À Propos', about_path, class: 'dropdown-item' %></li>
					</ul>
				</ul>

			</ul>
		</div>
	</div>
</div>
